@font-face {
    font-family: 'scriptRegular';
    src: url(src/fonts/script.otf);
}
@font-face {
    font-family: 'holydays';
    src: url(src/fonts/holidaysHomework.ttf);
}

*, ::before , ::after {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'scriptRegular', sans-serif;
    font-size: 1.2em;
    color: #333;
}

header {
    text-align: center;
}

h1 {
    font-size: 4em;
    font-weight: lighter;
}

li {
    list-style-type: none;
}

p {
    font-size: 1.3em;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__column {
    display: flex;
    flex-direction: column;
}

.text {
    position: absolute;
    text-align: center;
    margin: 0 auto; 
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.rules__modal, .theme__modal {
    display: none;
}

.rules__modal-content {
    line-height: 2.2em;
    margin-top: 3px;
    text-align: left;
}

.text__title {    
    left: 0;
    right: -10%;
    top: 5.5%;
}

.text__menu {
    left: -56.5%;
    right: 0;
    top: 13%;
    width: 13%;
}

.text__menu li {
    margin-left: 5px;
    font-size: 1.2em;
    line-height: 1.95em;
    cursor: pointer;
    text-align: left;
}

.text__menu li:hover {
    text-decoration: underline;
}

.text__menu-reload {
    display: none;
}

.text__theme {
    font-size: 2.5em;
    left: 0;
    right: -10%;
    top: 19%;
    width: 600px;
}

.hangman__image {
    position: absolute;
    left: 40%;
    right: 0;
    top: 20%;
    bottom: 0;
}

.text__menu-findWord {
    margin-top: 130px;
    font-size: 1.3em;
    font-weight: 500;
    display: none;
}

.text__wordToFind {
    font-family: 'holydays', sans-serif;
    font-size: 2.8em;
    text-transform: uppercase;
    left: 0;
    right: -10%;
    top: 57%;
}

.text__alphabet {    
    font-family: 'holydays', sans-serif;
    left: 0;
    right: -12%;
    top: 66.5%;
    font-size: 2em;
}

.text__alphabet li {
    display: inline-block;    
    margin: 0 10px 25px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.text__alphabet li:hover {
    transform: scale(1.2);
}

#paper {
    margin: 2em auto;
}

#paper img {
    width: 70%;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
}

#signing {
    font-size: 1.5em;
    margin: 1rem auto;
    top: 94%;
    right: 35%;
}

@media screen and (max-width: 1920px) {
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1em;
        line-height: 1.5em;
        margin-top: 30px;
    }
    .text__menu {
        left: -40.3%;
        right: 0;        
        top: 12.7%;
        width: 9.5%;
    }
    .text__menu li {
        font-size: 1em;
    }
    .text__theme {
        font-size: 1.7em;
        width: 400px;
        top: 19.3%;
    }
    .text__menu-theme {
        margin-top: 25px;
    }
    .theme__modal-content li{
        margin: 0 0 25px 5px;
        line-height: 2em;
    }
    .text__menu-findWord {
        margin-top: 120px;
    }
    .hangman__image {
        transform: scale(0.8);
        left: 36%;
        top: 11%;
    }
    .text__wordToFind {
        top: 58%;
        right: -7%;
        font-size: 1.7em;
    }
    .text__alphabet {
        right: -9%;
        font-size: 1.5em;    
    }
    .text__alphabet li {        
        margin: 0 5px 15px 5px;
    }
    #paper img {
        width: 50%;
    }
    #signing {
        top: 92%;
        right: 36%;
    }
}